In [2]:
import pandas as pd
from pathlib import Path

In [4]:
ROOT = Path.cwd().resolve().parent
DATA = ROOT / "Data" / "December1999.txt"

In [5]:
df = pd.read_csv(DATA, sep='\t')
df

,vru+line,call_id,customer_id,priority,type,date,vru_entry,vru_exit,vru_time,q_start,q_exit,q_time,outcome,ser_start,ser_exit,ser_time,server
0,AA0101,49296,0.0,0,PS,991201,5:20:04,5:20:41,37,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER
1,AA0101,49297,67472894.0,2,PS,991201,7:22:53,7:22:58,5,7:22:58,7:24:18,80,AGENT,7:24:17,7:30:09,352,ZOHARI
2,AA0101,49298,56165871.0,2,PS,991201,7:44:58,7:45:04,6,7:45:04,7:48:22,198,AGENT,7:48:21,7:49:16,55,GELBER
3,AA0101,49299,0.0,0,PS,991201,8:06:40,8:06:48,8,0:00:00,0:00:00,0,AGENT,8:06:47,8:09:25,158,ROTH
4,AA0101,49300,42791442.0,2,PS,991201,8:24:13,8:24:19,6,8:24:19,8:25:00,41,AGENT,8:25:00,8:28:01,181,SHARON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43060,AA0216,17211,0.0,0,IN,991231,13:46:51,13:47:04,13,0:00:00,0:00:00,0,AGENT,13:47:03,13:56:16,553,Z2ELINOR
43061,AA0216,17212,0.0,0,IN,991231,13:58:31,13:58:40,9,13:58:40,13:59:49,69,HANG,0:00:00,0:00:00,0,NO_SERVER
43062,AA0216,17213,0.0,0,IN,991231,17:10:51,17:11:12,21,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER
43063,AA0216,17214,0.0,0,IN,991231,18:30:19,18:30:54,35,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER
43064,AA0216,17215,0.0,0,IN,991231,22:23:35,22:23:45,10,0:00:00,0:00:00,0,HANG,0:00:00,0:00:00,0,NO_SERVER